/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-image: url("https://previews.123rf.com/images/wstockstudio/wstockstudio1702/wstockstudio170200260/72042079-accessories-for-travel-top-view-on-white-natural-marble-background-with-copy-space-adventure-and.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}